.login-form {
    max-width: 450px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.31);
}

.login-form__heading {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    margin: 0;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-form__inner {
    padding: 20px;
}

.login-form__group {
    margin-bottom: 15px;
}

.login-form__input {
    width: calc(100% - 40px);
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin-top: 5px;
}

.login-form__input::placeholder {
    color: #999;
}

.form__btn {
    text-align: right;
    margin-top: 20px;
}

.login-form__btn {
    width: 80px;
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form__btn:hover {
    background-color: #0056b3;
}

.login-form__error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.fa {
    color: gray;
    font-size: 20px;
    vertical-align: bottom
}

@media (max-width: 768px) {
    .login-form {
        max-width: 80%;
        margin: 50px auto;
    }

    .login-form__heading {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }

    .login-form__input {
        width: calc(100% - 20px);
        margin-left: 5px;
    }

    .login-form__btn {
        width: 100%;
        margin-right: 0;
    }

    .form__btn {
        text-align: center;
    }

    .login-from__group {
        margin-bottom: 10px;
    }

    .login-form__inner {
        padding: 10px;
    }

    .fa {
        font-size: 18px;
    }
}