.detail-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.restaurant-title {
    display: flex;
    align-items: center;
}

.restaurant-title a {
    margin-right: 10px;
    font-size:15px;
}
.restaurant-head{
    font-size: 20px;
}

.btn-secondary {
    background-color: #fff;
    padding: 2px 8px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.354);
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 45%;
    height: 100%;
}

.restaurant-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.restaurant-title {
    color: #333;
    font-size: 25px;
}

.reservation-btn {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.reservation-btn:hover {
    background-color: #e6b800;
}

.restaurant-image img {
    width: 100%;
    max-width: 90%;
    height: auto;
    object-fit: cover;
    max-height: 200px;

}

.image-default {
    width: 100%;
        max-width: 90%;
        height: auto;
    color: gray;
    font-size: 90px;

}

.restaurant-detail {
    text-align: left;
    margin-top: 20px;
    max-width: 90%;
}

.tag {
    color: #666;
    font-size: 15px;
}

.restaurant-detail p {
    color: #666;
    font-size: 15px;
}

.review-message {
    font-size: 20px;
    display: block;
}

.reservation-form,
.review-form {
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.reservation-title{
    width: 100%;
    padding: 0 30px;

}

.review-form__inner{
    width: 100%;
    align-items: center;
}

.reservation,
.review {
    margin-left: 30px;
}

.reservation-form h2,
.review-form h2 {
    color: #ffffff;
}
.reservation-input{
    padding: 0 30px;
}
.reservation-input #dateInput{
    width: 50%;
}
.comment-area{
    width: 100%;
    padding: 0 20px;
}
.comment-inner {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: vertical;
}

.reservation-form-inner{
    width: 100%;
}

.reservation-form select,
.reservation-form input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.reservation-form button,
.review-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #004494;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-form button:hover {
    background-color: #003570;
}

button.update-button,
button.delete-button {
    background: none;
    /* 背景を削除 */
    border: none;
    /* ボーダーを削除 */
    color: #666;
    /* リンクの色（青） */
    text-decoration: underline;
    /* アンダーラインを追加 */
    font-size: 14px;
    /* フォントサイズ */
    cursor: pointer;
    /* ポインターを手のひらに変更 */
    padding: 0;
    /* パディングをゼロにして余白をなくす */
    font-family: inherit;
    /* 親要素のフォントを継承 */
}


.feedback-link
{
    color: #666;
}
#summary p {
    margin: 10px 0;
}

#summary span {
    margin-left: 30px;
}

.rating {
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-left: 30px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating input:checked~label,
.rating input:hover~label {
    color: gold;
}
.form__error-message {
    margin-top: 8px;
    margin-left: 35px;
    color: #FF9494;
}

.flash_message {
    margin-bottom: 5px;
    padding: 5px 0;
}

#summary {
    color: #ffffff;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-card {
    width: 85%;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #56a3f4;
    padding: 10px;
    margin-bottom: 90px;
    border-radius: 4px;
}

#summary p {
    font-size: 14px;
}

.qr-code-section {
    text-align: center;
    width: 100%;
}

#reader {
    width: 100%;
    height: auto;
    max-width: 250px;
}



.feedback-info-button {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 7px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

.feedback-info-button:hover {
    background-color: #0056b3;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feedback-card {
    padding: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.feedback-edit {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.feedback-edit a {
    color: #666;
    font-size: 13px;
}


.feedback-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.feedback-stars {
    font-size: 25px;
    color: #666;
}

.feedback-rating .star {
    margin-right: 2px;
    color: #666;
}

.feedback-rating .star.filled {
    color: #007bff;
}


.feedback-content {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.add-feedback-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.add-feedback-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .detail-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .restaurant-info {
        width: 100%;
    }
    .restaurant-title {
        display: flex;
        align-items: center;
    }

    .restaurant-title a {
        margin-right: 10px;
        font-size: 15px;
    }

    .restaurant-head {
        font-size: 30px;
    }

    .restaurant-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .restaurant-detail {
        width: 100%;
        text-align: left;
        margin-top: 15px;
    }

    .tag {
        font-size: 14px;
    }

    .reservation-form,
    .review-form {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .reservation-form h2,
    .review-form h2 {
        font-size: 20px;
    }

    .reservation-form select,
    .reservation-form input[type=date] {
        width: 100%;
        margin: 0 auto;
    }

    .comment-area {
        width: 100%;
        padding: 0 20px;
    }

    .comment-inner {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-size: 13px;
        border-radius: 5px;
        resize: vertical;
    }

    .reservation-form button,
    .review-form button {
        width: 100%;
        margin: 0 auto;
    }

    .comment-area {
        width: 100%;
        margin: 0 auto;
    }

    .qr-code-section {
        text-align: center;
        width: 100%;
    }

    #reader {
        width: 100%;
        height: auto;
        max-width: 250px;
    }

    .feedback-stars {
        font-size: 20px;
        color: #666;
    }

}