.reservation-list{
    width:100%;
    align-items: center;
}

.reservation-table{
    width:80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    text-align: left;
}

.reservation-table th, .reservation-table td{
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.reservation-table th{
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 768px) {
    .reservation-table {
        width: 90%;
        /* Make the table take the full width of the screen */
        font-size: 16px;
        /* Adjust font size for readability */
    }

    .reservation-table th,
    .reservation-table td {
        padding: 8px 10px;
        /* Reduce padding to fit smaller screens */
    }

    .reservation-table th {
        font-size: 12px;
        /* Adjust header font size */
    }
}
