.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.qr-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.qr-item {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}