.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.restaurant-card {
    width: calc(25% - 10px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.restaurant-info {
    text-align: left;
    /* 左寄せ */
    padding: 15px;
}

.restaurant-title {
    font-size: 1.8rem;
    /* レストラン名を大きめに */
    font-weight: bold;
    margin-bottom: 5px;
}

.tag {
    font-size: 0.9rem;
    /* ハッシュタグを小さめに */
    color: #666;
    margin-right: 5px;
}

.restaurant-card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.restaurant-card__name {
    padding: 5px;
    font-size: 1.5rem;
    color: #333;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-button {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-button:hover {
    background-color: #0056b3;
}