.form-header {
    margin-bottom: 20px;
}
.update-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

.update-btn:hover {
    background-color: #003570;
}

.restaurant-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.form-group label {
    display: inline-block;
    margin-right: 15px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #003570;
}

.error-message {
    color: #FF9494;
}

@media (max-width: 768px) {
    
    .restaurant-form {
        padding: 15px;
        max-width: 100%;
    }

    .update-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group textarea,
    .form-group select {
        font-size: 14px;
        padding: 8px;
    }

    .submit-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-header {
        margin-bottom: 15px;

    }
}